
.container {
  max-width: 600px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 20px;
  /*border: 3px solid red;*/
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin-bottom: 40px;
  /*border-bottom: 3px solid red;*/
}
/* Menu Styling */
.menu {
  background-color: #f8f9fa;
  padding: 10px;
  width: 100%;
  /*border: 1px solid red;*/
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.menu ul li a:hover {
  color: #007bff;
}

.container {
  margin-top: 20px; /* Adjust this value based on your header height */
  flex-direction: column;
  /*border: 1px solid red;*/
}



/* Menu END*/

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  
}

.logo {
  height: 230px;
  width: auto;
  margin: 10px;
  padding: 20px;
  /*border: 1px solid pink;*/
}


.search-container {
  margin: 0 auto;
  padding: 5px;
  width: 100% - 15%;
  text-align: center;
  /*border: 1px solid rgb(0, 38, 255);*/
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  /*border: 2px solid red;*/
}

.form-control {
  border-radius: 15px;
  height: 40px;
  width: 450px;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
  /*border: 1px solid purple;*/
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
 
}

@keyframes placeholderAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.btn-primary {
  margin-left: 10px;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
}

/* Add the rest of your CSS styles for the form-group and resolved-name as needed */

/* Resolved Name */
.resolved-name {
  margin-bottom: 20px;
}

/* Registered TLDs */
.tld-results h2 {
  margin-bottom: 10px;
}

.tld-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tld-results li {
  margin-bottom: 5px;
}

/* Search Bar Animation */
@keyframes placeholder-animation {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.form-control::placeholder {
  opacity: 0;
  animation: placeholder-animation 3s infinite;
}

@keyframes placeholder-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* ...existing styles... */
