/* Default styles for all screen sizes */
.container {
  max-width: 600px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin-bottom: 40px;
  padding: 10px 0;
}

.menu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.menu ul li a:hover {
  color: #007bff;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100px;
  width: auto;
  margin: 10px;
  padding: 20px;
}

.search-container {
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.form-control {
  border-radius: 15px;
  height: 40px;
  width: 450px;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #007bff;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  margin-left: 10px;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Resolved Name */
.resolved-name {
  margin-bottom: 20px;
}

/* Registered TLDs */
.tld-results h2 {
  margin-bottom: 10px;
}

.tld-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tld-results li {
  margin-bottom: 5px;
}

/* Search Bar Animation */
.form-control::placeholder {
  opacity: 0;
  animation: placeholder-animation 3s infinite;
}

@keyframes placeholder-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Footer */
.footer {
  background-color: #f0f0f0;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  text-align: left;
}
.xrp-price-info {
  
  display: flex;
  font-size: 17px;
  
}
.xrp-price-info-container {
  display: flex;
  overflow-x: scroll; /* Enable horizontal scroll on smaller screens */
  gap: 2px; /* Add some space between the XrpPriceInfo elements */
  
}

/* Add a media query to adjust the layout on smaller screens */
@media screen and (max-width: 768px) {
  .xrp-price-info-container {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Hide horizontal scroll on smaller screens */
  }

  .hide{
    display: none;
  }
}


/* Add a media query to adjust the layout on smaller screens */
@media screen and (max-width: 768px) {
  .xrp-price-info-container {
    flex-direction: column;
    align-items: center;
    overflow-x: auto; /* Hide horizontal scroll on smaller screens */
  }
}


/* Media Queries for popular screen sizes */
/* Large screens (desktops and laptops) */
@media screen and (min-width: 1200px) {
  .container {
    top: 100px;
    max-width: 800px;
  }

  .logo {
    height: 150px;
  }

  .form-control {
    width: 500px;
  }

  .btn-primary {
    width: 250px;
  }
}

/* Medium screens (tablets) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    top: 100px;
  }

  .logo {
    height: 120px;
  }

  .form-control {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
  }
}

/* Small screens (smartphones) */
@media screen and (max-width: 767px) {
  .container {
    top: 100px;
    padding: 10px;
  }

  .logo {
    height: 100px;
  }

  .form-control {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
    font-size: 14px;
  }

  .menu ul li {
    margin-right: 10px;
  }
}

/* Extra Small screens (small smartphones) */
@media screen and (max-width: 480px) {
  .container {
    top: 100px;
    padding: 5px;
  }

  .logo {
    height: 80px;
  }

  .form-control {
    width: 100%;
    font-size: 14px;
  }

  .btn-primary {
    width: 100%;
    font-size: 12px;
  }

  .menu ul li {
    margin-right: 5px;
  }
}

/* Vendor prefixes for cross-browser compatibility */
/* Note: Modern browsers don't require many vendor prefixes, but some older browsers might. */

/* Example of vendor prefix for a property */
